@media print {

    body .container{width:768px; margin:auto;font:1em "Arial",sans-serif;}
    p.small{margin:0;font:0.8em "Arial",sans-serif;}
    span.bold{font-weight:Bold;}

    .sec1{overflow:hidden;}
    .sec1 .left{float:left;margin:0;font:0.8em "Arial",sans-serif;padding:10px 0;}
    .sec1 .right{float:right;margin:0;font:0.8em "Arial",sans-serif;padding:10px 0;}

    .sec2{display:table;width:100%;border-top:1px solid rgb(200,200,200);padding-top:10px;}
    .sec2 .img-sec{display:table-cell;vertical-align:middle;width:20%;}
    .sec2 .img-sec img{width:100px;}
    .sec2 .sec3{display:table-cell;vertical-align:middle;width:60%;text-align:center;}
    .sec2 .sec3 h1{margin:0;font:Bold 1.2em "Arial",sans-serif;}
    .sec2 .sec4{display:table-cell;vertical-align:middle;width:20%;text-align:right;font:0.8em "Arial",sans-serif;}

    .sec6{display:table;width:100%;}
    .sec6 p{display:inline-block;width:25%;vertical-align:top;font:0.8em "Arial",sans-serif;}

    .sec7{display:table;width:100%;}
    .sec7 p{display:inline-block;width:25%;vertical-align:top;font:0.8em "Arial",sans-serif;}

    .sec8 table{width:100%;font:0.8em "Arial",sans-serif;}
    .sec8 table td{text-align:center;}

    footer{width:100%;display:table;font:0.9em "Arial",sans-serif; }

    .sec9{display:table-cell;vertical-align:middle;width:40%;}
    .sec9 p{display:inline-block;width:20%;vertical-align:top;font:0.9em "Arial",sans-serif;}
    .sec9 ol{display:inline-block;width:50%;padding:0;font:0.9em "Arial",sans-serif;}
    .sec10{display:table-cell;vertical-align:middle;width:30%;text-align:center;font:0.9em "Arial",sans-serif;}
    .sec11{display:table-cell;vertical-align:middle;width:30%;text-align:right;font:0.9em "Arial",sans-serif;}

    .print-btn{width:100%;border:0;padding:20px;display:none}
    .print-btn:hover{cursor:pointer;background-color:rgb(0,162,232);color:rgb(255,255,255);}

}
body .container{width:768px;margin:auto;font:1em "Arial",sans-serif;}
p.small{margin:0;font:0.8em "Arial",sans-serif;}
span.bold{font-weight:Bold;}

.sec1{overflow:hidden;}
.sec1 .left{float:left;margin:0;font:0.8em "Arial",sans-serif;padding:10px 0;}
.sec1 .right{float:right;margin:0;font:0.8em "Arial",sans-serif;padding:10px 0;}

.sec2{display:table;width:100%;border-top:1px solid rgb(200,200,200);padding-top:10px;}
.sec2 .img-sec{display:table-cell;vertical-align:middle;width:20%;}
.sec2 .img-sec img{width:100px;}
.sec2 .sec3{display:table-cell;vertical-align:middle;width:60%;text-align:center;}
.sec2 .sec3 h1{margin:0;font:Bold 1.2em "Arial",sans-serif;}
.sec2 .sec4{display:table-cell;vertical-align:middle;width:20%;text-align:right;font:0.8em "Arial",sans-serif;}

.sec6{display:table;width:100%;margin:10px 0;}
.sec6 p{display:table-cell;width:25%;vertical-align:top;font:0.8em "Arial",sans-serif;}

.sec7{display:table;width:100%;margin:10px 0;}
.sec7 p{display:table-cell;width:25%;vertical-align:top;font:0.8em "Arial",sans-serif;}

.sec8 table{width:100%;font:0.8em "Arial",sans-serif;border-collapse:collapse;}
.sec8 table th,.sec8 table td,.sec8 table tr{border:1px solid rgb(0,0,0);padding:5px;}
.sec8 table td{text-align:center;}

.sec9{display:table-cell;vertical-align:middle;width:40%;}
.sec9 p{display:inline-block;width:20%;vertical-align:top;font:0.9em "Arial",sans-serif;}
.sec9 ol{display:inline-block;width:50%;padding:0;font:0.9em "Arial",sans-serif;}
.sec10{display:table-cell;vertical-align:middle;width:30%;text-align:center;font:0.9em "Arial",sans-serif;}
.sec11{display:table-cell;vertical-align:middle;width:30%;text-align:right;font:0.9em "Arial",sans-serif;}

.print-btn{width:100%;border:0;padding:20px;}
.print-btn:hover{cursor:pointer;background-color:rgb(0,162,232);color:rgb(255,255,255);}

footer .right-sec{float:right;}
.dropdown-menu li.header{font-weight:Bold;}
.dropdown-menu li .btn:hover{cursor:auto;}
.scrollable-table{overflow-x:scroll;}
.scrollable-table th,.scrollable-table td{white-space:nowrap;}
.adjusted-height{margin:50px 0;}
.error{color:red;}

.ticket.sec6{font-size:1.2em;margin:50px 0;line-height:2.5em;}
.ticket.sec2{margin:10px 0;}
.container{border:2px solid black;padding:10px;}